{% extends 'base.html' %}

{% block content %}
<div class="container py-5 text-white">
    <div class="text-center mb-5">
        <h1 class="display-4 fw-bold">Hi, I’m Mounika Pindi</h1>
        <p class="lead">This is my personal space to showcase what I do and build.</p>
    </div>
    <div class="text-center">
        <a href="/work" class="btn btn-outline-light btn-lg me-3 hover-shadow">View My Work</a>
        <a href="/contact" class="btn btn-outline-primary btn-lg hover-shadow">Contact Me</a>
    </div>
</div>
{% endblock %}
